# NYC Restaurant

People need ot eat. As a Chinese American, my social life revolve around a place to eat. But since I have genetic predisposition for diabeties and high blood pressure, I also need to find a safe place to eat. So I looked up NYC Restaurant health inspection data to find good places to eat.

So first I got the data from "https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/xx67-kt59"

And then I imported the data into Python to play with.

In [2]:
import pandas as pd
data = pd.read_csv('NYC_Restaurant_inspection.csv')

C:\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
pd.options.display.max_rows = 2
data

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
0,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,10462,7188924968,Bakery,02/18/2016,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,10,A,02/18/2016,03/02/2016,Cycle Inspection / Initial Inspection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475499,50046929,NaN,QUEENS,16846,91ST AVE,11432,3477205009,Other,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,03/02/2016,NaN

In [8]:
data['PHONE']

0         7188924968
             ...
475499    3477205009
Name: PHONE, dtype: object

Checked column 6 or PHONE, need to convert into numbers

I live in ZIPCODE 10025, so I need to find a restaurants near me. I also only selected Grade A by the health inspection. You can relax this to a B. I also only looked Chinese restaurants, but you can choose any cuisine.

In [53]:
# make a set for unique names
name = set()

for key, value in enumerate(data['ZIPCODE']):
    if value == 10025 and data['CUISINE DESCRIPTION'][key] == "Chinese" and data['GRADE'][key] == 'A':
        name.add(data['DBA'][key])

In [54]:
for i in name:
    print i

HUNAN PARK
HUNAN CHEN'S KITCHEN
NEW KAM LAI RESTAURANT
NEW KAM LAI
PEARLS
A NEW SAIGON VIETNAMESE CUISINE
BENNY'S LUNG SHENG RESTAURANT
SZECHUAN GARDEN
XIAN FAMOUS FOODS
ZHONG WAH CHINESE RESTAURANT
CONCORD GARDEN RESTAURANT
LEGEND UPPER WEST
EMPIRE GARDEN

So how do I know if these restaurants are any good? I could search Yelp. But I'm going to look at how old these places are. The longer they are open, the more likely this will be good, right? To find the year it is first opened, look for the year with 'prepermit' in the inspection type column

In [116]:
# need to use a list instead of a set, and count the number of duplicates in the list
name_list = set()

for key, value in enumerate(data['ZIPCODE']):
    if value == 10025 and data['CUISINE DESCRIPTION'][key] == "Chinese" and data['INSPECTION TYPE'][key].startswith('Pre-permit'):
        if not pd.isnull(data['GRADE DATE'][key]):
            name_list.add(data['DBA'][key] +" "+ str(data['GRADE DATE'][key]))

In [117]:
for i in name_list:
    print i

LEGEND UPPER WEST 03/07/2013
BENNY'S LUNG SHENG RESTAURANT 03/17/2014
EMPIRE GARDEN 10/02/2014
HUNAN CHEN'S KITCHEN 07/14/2014
A NEW SAIGON VIETNAMESE CUISINE 07/01/2014
SZECHUAN GARDEN 12/10/2013
ZHONG WAH CHINESE RESTAURANT 03/13/2013
NEW KAM LAI 02/18/2014
HUNAN PARK 11/27/2015
HUNAN CHEN'S KITCHEN 05/30/2014
NEW KAM LAI RESTAURANT 06/11/2013
CONCORD GARDEN RESTAURANT 02/19/2013

True